<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="emp"  class="com.spring.bean.Employee">
		<constructor-arg name="empno" value="101"/>
		<constructor-arg name="empname" value="Vijay"/>
		<constructor-arg name="empjob" value="Developer"/>
		<constructor-arg name="salary" value="15000.00"/>
	</bean>   

   
   
</beans>